button {
  background-color: #fff;
  color: #1c243e;
  font-weight: 400;
  box-shadow: inset 0 0 0 1px #1c243e;
  border-width: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1rem;
  fill: currentColor;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  display: inline-flex;
  cursor: pointer;
  border-color: #1c243e;
  transition: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  text-transform: none;
}

button:hover {
  color: #495057;
  box-shadow: inset 0 0 0 1.5px #495057, 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.08);
  background: #e9f3fc;
  border-color: #495057;
  text-decoration: none;
}
.pure-g .center {
  line-height: 36px;
}
